# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.env
pubspec.lock
*.lock
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Flutter/Dart specific
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE-specific files
**/.idea/
**/.vscode/
.vscode/

# macOS
**/.DS_Store

# Android
**/android/app/build/
**/android/gradle.properties
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/Flutter/.dart_tool/
**/android/Flutter/build/

# iOS
**/ios/Pods/
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/
**/ios/xcuserdata/
**/ios/DerivedData/
**/ios/.symlinks/

# Windows
**/windows/Flutter/.dart_tool/
**/windows/Flutter/build/
/devtools_options.yaml
